body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #1d2b57;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link.active {
    color: #fabd02 !important;
}

.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
}

.card-header {
    background-color: #1d2b57;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.form-label {
    color: #1d2b57;
}

.form-control {
    border-radius: 10px;
    margin-bottom: 10px;
}

.form-control-file {
    padding: 5px;
}

.btn-primary {
    background-color: #fabd02;
    border-color: #fabd02;
}

.btn-primary:hover {
    background-color: #e0a800;
    border-color: #e0a800;
}

.photo-profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: #1d2b57;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
